<div class=" table-container">

    <table>
        <thead>
            <tr>
                <th>Reference</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Method</th>
                <th>Created</th>
            </tr>
        </thead>

        <tbody>
            @for (payment of payments; track payment.id){
            <tr tabindex="0" (click)="onRowClick(payment)"></tr>
            <td>{{ payment.reference}}</td>
            <td>{{ payment.customerName }}</td>
            <td>{{ payment.amount | currency:payment.currency}}</td>
            <td>{{ payment.status }}</td>
            <td>{{ payment.method }}</td>
            <td>{{ payment.createdAt | date:'short' }}</td>
            }
        </tbody>
    </table>

</div>